<template lang="html">

  <section @click="colorSelected" class="colorBox" :class="colorClass" :style="{ backgroundColor: boxColor }">
  </section>



</template>

<script lang="js">
  export default  {
    name: 'Color',
    props: ['color'],
    data() {
      return { 
        boxColor: '#' + Math.floor(Math.random()*16777215).toString(16)
      }
    },
    methods: {
      colorSelected(){
        this.$emit("colorSelected");
      }
    },
    computed: {
      colorClass() {
        return { 'active' : this.color.active };
      }
    },
    mounted() {
    }
}
</script>

<style scoped lang="scss">
  .colorBox {
    opacity: 0.4;

    &.active {
      opacity: 1;
    }
  }
</style>
