<template lang="html">

    <section class="FormNumberColors">
        <form v-on:submit.prevent="play">
            <label for="numberColors">Numero de colores: </label>
            <input type="number" name="numberColors" id="numberColors" v-model="numberColors">
            <button type="submit"> Enviar </button>
        </form>
    </section>

</template>

<script lang="js">
  export default  {
    name: 'FormNumberColors',
    props: [],
    mounted() {

    },
    data() {
      return {
        numberColors: 4
      }
    },
    methods: {
        play() {
            this.$router.push('/play/' + this.numberColors);
        }
    },
    computed: {

    }
}
</script>

<style scoped lang="scss">
  .form-number-colors {

  }
</style>
