<template lang="html">
    <section class="play">
        <div style="height:100px">
            <h1 v-if="playerWin">Level {{sequence.length - 1}} Completed!</h1>
            <h1 v-if="playerLose">Looser!</h1>
        </div>
        <Color v-for="(color, index) in colors" class="color" 
            :color="color"
            @colorSelected="colorSelected(index)">
        </Color>

        <button class="btn" :class="btnClass" @click="startPlaying">{{texto}}</button>
    </section>
</template>

<script lang="js">
import Color from './Color.vue';

  export default  {
    name: 'Play',
    props: [],
    data() {
      return {
        colors: [],
        sequence: [],
        sequenceIndex: 0,
        playerIndexSequence: 0,
        playerWin: false,
        playerLose: false,
        btnClass: 'btn-primary',
        texto: 'Start'
      }
    },
    components:{
      Color
    },
    
    computed: {
      numberColors(){
        return parseInt(this.$route.params.numberColors);
      },

    },
    methods: {
      startComputer(){
        this.sequenceIndex = this.playerIndexSequence = 0;
        this.addToSequence();
        setTimeout(() => { this.runSequence(); }, 200);
      },
      addToSequence() {
        this.sequence.push(parseInt((Math.random() * this.numberColors)));
      },
      runSequence() {
        if(this.sequenceIndex < this.sequence.length) {
            setTimeout(() => {
                this.colors[this.sequence[this.sequenceIndex]].active = true;
                setTimeout(() => {
                    this.colors[this.sequence[this.sequenceIndex]].active = false;
                    this.sequenceIndex++;
                    this.runSequence();
                }, 400);
            }, 200);
        }
      },
      
      startPlaying(){
        this.playerWin = false;
        this.playerLose = false;
        this.startComputer();
      },
      colorSelected(colorSelectedIndex){
        if(this.sequence[this.playerIndexSequence] == colorSelectedIndex) {
            this.colors[colorSelectedIndex].active = true;
            setTimeout(() => { this.colors[colorSelectedIndex].active = false; }, 200);
            this.playerIndexSequence++;
            if(this.playerIndexSequence == this.sequence.length){
                this.playerWin = true;
                this.startComputer();
            }
        }else{
            this.playerLose = true;
            this.btnClass = 'btn-danger';
            this.texto = 'Retry';
            this.sequence = [];
        }
        
      },
      
    },
    mounted() {
        for(let i = 0; i < this.numberColors; i++) {
            this.colors.push({
                active: false
            });
        }
    },
}
</script>

<style scoped lang="scss">
  .play {
    margin: auto;
    width: 1000px;
  }
  .color {
    height:200px;
    width: 200px;
    display: inline-block;
    margin: 50px;
  }

  .playerWin{
    display: none;
  }

  button{
    background-color: #ff4c4e;
    border:none;
    color: white;
    padding: 10px 50px;
    border-radius: 2px;
    font-weight: 900
  }
</style>
